* 
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
html 
{
  font-size: 62.5%;
  
}
:root
{
  --white:#ffffff;
  --black:#000000;
  --header-footer:#f7f6f6;
  --papayawhip:#ffecd7;
  --linkhover:#0c59cf;
  --linkactive:#468847;
}
footer
{ 
  display:flex;
  width: 100%;
  height: auto;
  background-color:var(--header-footer)
    
}
footer .logoF
{
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  10px;
}
footer .logoF img
{
    width: 12rem;
    align-items: center;
    
}
.copyright
{
    color:gray;

    
}
.pagoSeguro
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem;
  
    
    
}
.whatsapp
{
position: fixed;
bottom: 6rem;
right: 2rem;


}
@media(max-width: 600px)
{
  .copyright
  {
    display: block;
    align-content: center;
    align-items: flex flex-end;
    font-size: 8px;

  }
  .pagoSeguro
  {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .bancolombia, .davinequi
  {
    display: none;
  }
}



