* 
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
html 
{
  font-size: 62.5%;
  
}
footer
{ 
  display:flex;
  width: 100vw ;
  height: auto;
  background-color:#f7f6f6;
    
}
footer .logoF
{
    width: 100%;
    height: auto; 
}
footer .logoF img
{
    width: 12rem;
    justify-content:center;
    align-items: center;
    
}
.pagoSeguro
{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    
    
}
