* 
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html 
{
  font-size: 62.5%;
  
}

header
{
  
  display:flex;
  width: 100vw ;
  height: 12vh;
  background-color:#fefac0;
  

}

.ayuda 
{
  position: absolute;
  padding: 1.5rem;
  right: 12rem;
  
 
}

.carrito
{
  position:absolute;
  padding: 1.5rem;
  right: 4rem;
}
.buscador
{
  position: absolute;
  left: 47%;
  top: 5%;
  transform: translate(-50%, -50%);
  padding: 1rem;


}
input
{
  outline: none;
  box-sizing: border-box;
  height: 4rem;
  width: 0;
  padding: 0 1.5rem;
  color: black;
  border-radius: 1rem;
  font-size: 2rem;
  border: 0.1rem solid black;
  transition: all .7s ease;
}

::placeholder
{
  color: blue;

}

.btn
{
  position: absolute;
  right: 0;
  top: 0;
  width: 6rem;
  height: 6rem;
  background: grey;
  line-height: 2rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}

.btn i
{
  font-size: 3rem;
  color: black;
  line-height: 3rem;
  transition: all .7 ease;

}

.buscador:hover input
{
  width: 40rem;

}
.container:hover i
{
  transform: rotate(-180deg);

}
.btn:hover
{
  background: green;

}

.servicios 
{ 
  display:flex;
  padding:0.5rem;
  background-color:#fefac0;
  justify-content: center;
  border: 0.1rem solid rgba(195, 157, 18, 0.943); 

}

.serviciosR
{
 display:flex;  

}
.serviciosR a
{
  display: flex;
  color:black;
  padding: 0.5rem;
  text-decoration:blue;
  font-size: 1.7rem;
  
}
.serviciosR a:hover
{
  color:blue;
}
.serviciosR a:active
{
  color:rgb(18, 106, 34);
}
.serviciosR a:after
{
  content:" | " ;
  
}
