* 
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
html 
{
  font-size: 62.5%;
  
}

header
{
  
  display:flex;
  width: 100vw ;
  height: 13vh;
  background-color:#fefac0;
  

}
header.header-logo
{
 width: 53rem;
 margin: 0 auto;
 margin-bottom: 3.5rem;

}
header .header-logo img
{
  width: 15rem;
}
.ayuda 
{
  position: absolute;
  padding: 1.5rem;
  right: 12rem;
  
 
}

.carrito
{
  position:absolute;
  padding: 1.5rem;
  right: 4rem;
}

header .buscar
{

  position: absolute;
  padding: 3rem;
  right: 65rem;
}
.buscar input
{
  width: 0rem;
  height: 4rem;
  padding: 0 0.9rem;
  font-size: 1.8rem;
  color: black;
  outline:none;
  border: 0.1rem solid silver;
  border-radius: 3rem;
  transition: all 0.6s ease;



}
.btn
{
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  width: 5.5rem;
  height: 5.5rem;
  line-height: 7.2rem;
  background: silver;
  text-align: center;
  color:black;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  
  
  
  
}
.buscar:hover input
{
 width: 28rem; 

}
.btn:active 
{
  color:rgb(6, 67, 17);
}

main nav
{
  display: flex;
  justify-content: center;
  width: 100vw ;
  height: 10vh;
  background-color:#fefac0;
  border: 0.1rem solid rgba(195, 157, 18, 0.943);
}
.servi
{
  width: auto;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;

}


.serviciosR a
{
 
  color:black;
  margin-right: 1rem;
  text-decoration:blue;
  font-size: 2rem;
  
}
.serviciosR a:hover
{
  color:blue;
}
.serviciosR a:active
{
  color:rgb(18, 106, 34);
}
.serviciosR a:after
{
  content:" | " ;
  
}

.Roma
{
  display: flex;
  width: 100vw ;
  height: 100vh;
  background-color:whitesmoke;
  
 
  
}
.titel
{
  font-size: 3rem;
  padding: 2rem;
  color: goldenrod;
}
.resena
{
  position: absolute;
  font-size: 1.5rem;
  padding: 8rem;
  left: 20rem;
 
}